<div class="groupComponent">
  <app-notification></app-notification>
  <app-edit-group
    *ngIf="editGroup"
    (editGroup)="editGroupButton()"
    (click)="editGroupButton()"
    [gmembers]="groupMembers"
  ></app-edit-group>
  <div class="sidebar" *ngIf="hideSideBar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="chat">
    <div class="title">
      <div class="titleButtons">
        <button
          class="sideBarButton"
          *ngIf="!smallScreen"
          (click)="hideSideBarButton()"
        >
          Grupos
        </button>
        <div class="titleAndButton">
          <h1>{{ gname | titlecase }}</h1>
          <button *ngIf="adminRole" (click)="editGroupButton()">Editar</button>
        </div>
        <button
          class="membersBarButton"
          *ngIf="!smallScreen"
          (click)="hideMemberBarButton()"
        >
          Miembros
        </button>
      </div>
    </div>
    <div class="messages" id="chat">
      <div
        *ngFor="let message of groupMessage"
        class="message"
        [ngClass]="{
          yourMessage: message.uid === user,
          memberJoin: message.type === 'member'
        }"
      >
        <img
          [src]="message.image"
          alt="userImage"
          (error)="imageError($event)"
        />
        <div>
          <h4>{{ message.username | usernameNotFound }}</h4>
          <p>{{ message.message }}</p>
        </div>
      </div>
      <div class="padding"></div>
    </div>

    <app-chat-input
      (messageEvent)="updateMessages($event)"
      [gmembers]="groupMembers"
    ></app-chat-input>
  </div>
  <div
    class="membersBar"
    [ngClass]="{ membersBarFull: !smallScreen }"
    *ngIf="hideMembersBar"
  >
    <button *ngIf="!smallScreen" (click)="hideMemberBarButton()">X</button>
    <app-members-bar
      [adminRole]="adminRole"
      [groupMembers]="groupMembers"
      [gname]="gname"
    >
    </app-members-bar>
  </div>
</div>
