<div class="listOfUsers" (click)="closeInvitation()">
  <div class="listOfUsersCard" (click)="stopPropagation($event)">
    <button class="closeListOfUserCard" (click)="closeInvitation()">X</button>
    <h1>Añadir usuario</h1>
    <label class="error" *ngIf="customError">{{ customError }}</label>
    <form [formGroup]="invitationForm">
      <input type="text" formControlName="member" />
      <div *ngIf="showListOfMembers" class="listOfinvitations">
        <div
          *ngFor="let item of showListOfMembers"
          (click)="selectUser(item.uid, item.username)"
          class="memberCard"
        >
          <img [src]="item.image" alt="user" (error)="imageError($event)" />
          <p>{{ item.username }}</p>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="invitationForm.invalid"
        (click)="sendInvitation()"
      >
        Enviar
      </button>
    </form>
  </div>
</div>
