<div class="deleteGroupForm" (click)="activateDeleteGroup()">
  <div class="deleteGroupFormCard" (click)="stopPropagation($event)">
    <button class="closeDeleteGrupo" (click)="activateDeleteGroup()">X</button>
    <h1>Eliminar grupo</h1>
    <form [formGroup]="deleteGroupForm" (ngSubmit)="deleteGroup()">
      <label class="error">Ingrese el nombre del grupo "{{ gname }}"</label>
      <input
        type="text"
        formControlName="delete"
        placeholder="Nombre del grupo"
      />
      <button [disabled]="deleteGroupForm.invalid" type="submit">
        Eliminar
      </button>
    </form>
  </div>
</div>
