<div class="loginComponent">
  <div class="loginCard">
    <h1>Iniciar Sesión</h1>
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
      <label class="error" *ngIf="customError">{{ customError }}</label>
      <label>Correo electrónico</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Ingrese su correo electrónico"
      />
      <label
        *ngIf="
          loginForm.get('email')?.errors && loginForm.get('email')?.touched
        "
        class="error"
        >Ingrese un correo válido</label
      >

      <label>Contraseña</label>
      <input
        type="password"
        formControlName="password"
        placeholder="ingrese su contraseña"
      />
      <label
        class="error"
        *ngIf="
          loginForm.get('password')?.errors &&
          loginForm.get('password')?.touched
        "
        >Ingrese una contraseña válida</label
      >
      <button type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>
    </form>
    <a routerLink="/sign-up">¿No estás registrado? clickea aquí.</a>
  </div>
</div>
